.appointmentItem {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
  align-items: center;
  position: relative;
  right: 40px;

  .dateTitle {
    text-align: right;
    font-weight: 700;
  }
}
